@import url('header.css');
@import url('index.css');

*{
    margin: 0 auto;
    box-sizing: border-box;
    color: white;
}

body{
    background: url('../img/background-pattern.jpg');
}

main{
    margin-top: 1vh;
}
